.default {
  width: 323px;
  height: 36px;
  padding: 8px 12px;
  border-radius: 4px;
  outline: none;
  border: 1px solid #D1D1D6;
  transition: .2s;
  &:focus {
    border: 1px solid #84CAFF;
    box-shadow: 0px 0px 0px 4px #2E90FA3D;
  }

  &::placeholder {
    color: #888;
  }
}
.error {
  width: 323px;
  height: 36px;
  padding: 8px 12px;
  border-radius: 4px;
  outline: none;
  border: 1px solid #D1D1D6;
  transition: .2s;
  border: 1px solid #FDA29B !important;
  &:focus {
    border: 1px solid #84CAFF;
    box-shadow: 0px 0px 0px 4px #F044383D;

  }
}

